/*  
  App.css
  Main style sheet for entire app 
   
*/
/*  ReactJS To Do List App
    by Nigel Sampath
       Florida Atlantic University
       Full-Stack Developer Bootcamp
*/  


.App  {
      text-align: center;
}

/**  MAIN NAVBAR  **/
#Navbar {
      background-color:black;
      padding: 0.75rem;
}

#Navbar a {
      color:cadetblue;
      padding-left : 3.0em;
      padding-right: 3.0em;
      padding-top   : 0.5em;
      padding-bottom: 0.5em;

}

#Navbar a:active {
      color:lightskyblue;
}

#Navbar a:hover {
      color:lightskyblue;
}


/** TO DO  LIST  **/

/* Main List, items */
li    {
      text-align:          left;
      list-style-position: inside;
      list-style-type    : ;       /* bullets */
}


/* Main List, status   */
.StatusBox {
      list-style-type:none;
      text-align: center;
      color: black;
}

.Intro{
      height: 6rem;
}

/*  Contact form Input  */


.formdiv {
      color: darkmagenta;
}

.inputfield {
      margin: 0.75rem; 

}

/*  div  About page  */
.About {
      font-family: fixed;
      font-size  : 1.2em;
      padding-top: 1.5rem;
}

.aboutProgram {
      color: darkgreen;
}

.aboutTech {
      color: darkmagenta;

}